/* TASK 1C */
#resultList {
    list-style: none;
    padding: 0;         /* removes indent*/
}

#resultList li {
    margin-bottom: 10px;     /* space between elements */

}

/* TASK 2 */
#todoList {
    list-style: none;
    padding: 0;
}

#todoList li {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 10px;
}

.completed{
    text-decoration: line-through;
    color: grey;
}

.removeButton{
    margin-left: 15px;
    border-radius: 15px;
    border: 1px solid grey;
    background-color: white;
    padding: 5px;
}

.date{
    align-items: flex-end;
    margin-left: 15px;
    color: blue;
}
